 * {
    padding: 0;
    margin: 0;
    background-color: #ffff;
 }

 .main-criarpostagem {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .box-post {
    width: 614px;
    height: 695px;
    border-radius: 35px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
 }

 .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .topo img {
    width: 45px;
    height: 45px;
 }