 body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1800px;
    height: 850px;
}



h1 {
    width: 327px;
    height: 56px;
    font-family: "Raleway SemiBold", "Raleway", sans-serif;
    font-weight: 600;
    color: rgba(66, 32, 64, 0.65);
    text-align: center;
    line-height: normal;
    margin-top: 63px;
}

.submit {
    width: 160px;
    height: 55px;
    border-radius: 17px;
    font-size: 22px;
    background-color: #422040;
    color: #ffffff;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    font-family: "Raleway Bold", "Raleway", sans-serif;
}

.input {
    width: 440px;
    height: 65px;
    border: 1px solid #422040;
    background-color: rgba(236, 141, 38, 0);
    border-radius: 17px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.ph {
    display: flex;
    align-items: flex-start;
    gap: 65px;
}

.ph2 {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

select {
    width: 440px;
    height: 65px;
    border: 1px solid #422040;
    background-color: rgba(236, 141, 38, 0);
    border-radius: 17px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 15px;
    font-family: "Antialiased ", sans-serif;
}

.abordagem-esp {
    display: flex;
    display: flex;
    align-items: flex-start;
    gap: 65px;
}

.abordagemm {
    display: flex;
    flex-direction: column;
}

#delet {
    border: 2px solid #422040;
    background-color: rgba(236, 141, 38, 0);
    color: #422040;
}

.edit-info {
    display: flex;
    gap: 65px;
    margin-top: 50px;
}

.edit-img {
    display: flex;
    align-items: center;
    gap: 465px;
    width: 940px;
}

.box-img {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 50px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

#add {
    width: 225px;
    border: 2px solid #422040;
    background-color: rgba(236, 141, 38, 0);
    color: #422040;

}

.tele label {
    font-family: "Antialiased ", sans-serif;
    color: #333333;
    margin-bottom: 5px;
    width: none;
    text-align: left;
    margin-left: 10px;
}

.abordagem-esp label {
    margin-bottom: 5px;
    margin-left: 10px;
}

.abordagemm label {
    text-align: left;
}

.bio label
{
font-family: "Antialiased ", sans-serif;
color: #333333;
margin-bottom: 5px;
width: none;
display: flex;
text-align: left;
margin-left: 10px;
}

.bio textarea {
    font-family: "Antialiased ", sans-serif;
    height: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
}

label {
    font-size: 20px;
}

.info label {
    display: flex;
    font-family: "Antialiased ", sans-serif;
    color: #333333;
    margin-bottom: 5px;
    width: none;
    text-align: left;
    margin-left: 10px;
}

article {
    width: 1550px;
    height: 865px;
    border-radius: 25px;
    border: 1px solid #422040;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.biogra {
    display: flex;
    flex-direction: column;
}

.bio {
    display: flex;
    width: fit-content;
    margin-top: 30px;
    gap: 65px;
}

.tele {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
}

.last {
    display: flex;
    flex-direction: column;
}

.myexpr {
    display: flex;
    flex-direction: column;
}

input::placeholder {
    opacity: 1;
}

.form label{
    display: flex;
    align-items: center;
    margin: 0;
    height: fit-content;
}

.salvarr {
    width: 440px;
    align-content: center;
    text-align: end;
    gap: 100px;
    display: flex;
    flex-direction: column;
}

#pub {
    align-self: flex-start;
}

#salve {
    border: 2px solid #422040;
    background-color: rgba(236, 141, 38, 0);
    color: #422040;
}

#salve:hover, #add:hover, #delet:hover {
    background-color: #422040;
    color: white;
}

#profile_pic {
    display: none;
}

.picture { 
    color: white;
}

.picture__image {
    width: 200px;
    height: 200px;
    border-radius: 360px;
    background-color: #422040;
    display: block;
    cursor: pointer;
    align-content: center;
}