* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.previews {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #422040;
    height: 2950px;
}

.preview-conteudos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.unidade-preview {
    align-items: center;
    display: flex;
    box-shadow: 5px 5px 10px 0px rgba(66, 32, 64, 0.35);
    border-radius: 15px;
    border: 1px solid rgba(66, 32, 64, 0);
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 80px;
    background-color: white;
}

.text-preview p {
    width: 400px;
    text-align: center;
    font-family: "Raleway Medium", "Raleway", sans-serif;
    font-weight: 500;
    color: dimgray;
    font-size: 24px;
    margin-right: 35px;
}

h1 {
    text-align: center;
    color: #422040;
    margin-right: 30px;
    margin-bottom: 30px;
}

.text {
    margin-right: 20px;
}

.imgs {
    width: 900px;
    height: 500px;
}