<title>Atividade Mensal</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="css/atividademensal.css">
</head>
<body>
    <article>
        <section>
            <h1>Atividade Mensal</h1>
            <hr>
        </section>

        <section class="meses">
            <input type="button" value="Janeiro">
            <input type="button" value="Fevereiro">
            <input type="button" value="Março">
            <input type="button" value="Abril">
            <input type="button" value="Maio">
            <input type="button" value="Junho">
            <input type="button" value="Julho">
            <input type="button" value="Agosto">
            <input type="button" value="Setembro">
            <input type="button" value="Outubro">
            <input type="button" value="Novembro">
            <input type="button" value="Dezembro">
        </section>

        <section>

        </section>
    </article>
</body>