<title>Consultas</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="css/consultas.css">
</head>

<body>
    <article>

        <h1>Consultas</h1>

        <section class="box1">

            <ul class="box2" id="con1">
                <li>Data <i class="fa-solid fa-arrow-down"></i></li>
                <li>Profissional <i class="fa-solid fa-arrow-down"></i></li>
                <li>Tipo <i class="fa-solid fa-arrow-down"></i></li>
                <li>Convênio <i class="fa-solid fa-arrow-down"></i></li>
                <li>Situação <i class="fa-solid fa-arrow-down"></i></li>
            </ul>

            <section class="box4">
                <h2>Não há dados disponíveis no momento</h2>
            </section>

        </section>

        <h1>Pagamentos</h1>

        <section class="box1">

            <ul class="box3" id="con2">
                <li>Data da Consulta <i class="fa-solid fa-arrow-down"></i></li>
                <li>Data do Pagamento <i class="fa-solid fa-arrow-down"></i></li>
                <li>Psicólogo <i class="fa-solid fa-arrow-down"></i></li>
                <li>Boleto <i class="fa-solid fa-arrow-down"></i></li>
                <li>Valor Pago <i class="fa-solid fa-arrow-down"></i></li>
            </ul>

            <section class="box4">
                <h2>Não há dados disponíveis no momento</h2>
            </section>

        </section>

    </article>
</body>

</html>