<title>perfil-1</title>
<link rel="stylesheet" href="css/edite-seu-perfil-psic.css">
</head>

<body>

    <form action="/editeseuperfilpsic" method="post">
        <article>
                <section class="box-img">
                    <section class="edit-img">
                        <section>
                            <img src="imagens/user-perfil.svg">
                        </section>
                        <section class="button">
                            <input class="submit" type="submit" id="add" value="Adicionar foto"></input>
                            <input class="submit" id="delet" type="submit" value="Deletar foto"></input>
                        </section>
                    </section>
                </section>
                <section class="edit-info">
                        <section class="info">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="input" placeholder="Email">
                        </section>
        
                        <section class="tele">
                            <label for="tel">Telefone</label>
                            <input type="tel" id="tel" class="input" placeholder="(xx) xxxxx-xxxx" pattern="\(\d{2}\) \d{5}-\d{4}">
                        </section>
                </section>
                <section class="ph2">
                    <section class="abordagem-esp">
                       <section class="abordagemm">
                                <label for="abord">Abordagem</label>
                                <select name="abordagens" id="abord">
                                    <option value="">Psicologia Comportamental</option>
                                    <option value="">Psicologia Cognitiva</option>
                                    <option value="">Psicologia Humanista</option>
                                    <option value="">Psicanálise</option>
                                    <option value="">Psicologia Gestalt</option>
                                    <option value="">Psicologia Evolutiva</option>
                                    <option value="">Psicologia Social</option>
                                    <option value="">Psicologia Positiva</option>
                                    <option value="">Terapia Cognitivo-Comportamental (TCC)</option>
                                    <option value="">Psicologia Sistêmica</option>
                                    <option value="">Psicologia do Desenvolvimento</option>
                                    <option value="">Psicologia Cultural</option>
                                    <option value="">Neuropsicologia</option>
                                    <option value="">Psicologia Forense</option>
                                    <option value="">Psicologia da Saúde</option>
                                </select>
                       </section>
                     
                        
                            <section class="abordagemm">
                                <label for="esp">Especialidade</label>
                                <select name="especialidade" id="esp">
                                    <option value="">Terapia Comportamental / Modificação de Comportamento</option>
                                    <option value="">Terapia Cognitiva / Avaliação Cognitiva</option>
                                    <option value="">Psicoterapia Humanista / Terapia Centrada na Pessoa</option>
                                    <option value="">Psicanálise Clássica / Psicoterapia Psicanalítica</option>
                                    <option value="">Terapia Gestalt / Formação em Psicologia Gestalt</option>
                                    <option value="">Psicologia do Desenvolvimento / Avaliação do Desenvolvimento Infantil</option>
                                    <option value="">Psicologia Comunitária / Consultoria em Dinâmica de Grupo</option>
                                    <option value="">Intervenções de Psicologia Positiva / Coaching de Vida</option>
                                    <option value="">TCC para Transtornos de Ansiedade / TCC para Depressão</option>
                                    <option value="">Terapia Familiar Sistêmica / Mediação Familiar</option>
                                    <option value="">Avaliação e Intervenção no Desenvolvimento Infantil / Psicologia Educacional</option>
                                    <option value="">Psicologia Transcultural / Consultoria Cultural</option>
                                    <option value="">Avaliação Neuropsicológica / Reabilitação Neuropsicológica</option>
                                    <option value="">Avaliação de Competência Legal / Consultoria em Casos Judiciais</option>
                                    <option value="">Intervenções em Saúde Mental / Promoção de Saúde e Bem-Estar</option>
                                </select>
                            </section>
                    
                    </section>
                    <section class="bio">
                        <section class="biogra">
                            <label for="biog">Biografia</label>
                            <textarea id="biog" class="input" placeholder="Sua biografia"></textarea>
                        </section>
                        <section class="salvarr">
                            <input type="submit" class="submit" id="salve" value="Salvar"></input>
                        </section>
                    </section>
        
                </section>
        
        </article>
    </form>
</body>

</html>