
    <title>Quadrante</title>
    <link rel="stylesheet" href="css/quadrante-unlogged.css">
</head>
<body>
    <main>
        <article class="previews">
            <section class="preview-conteudos">
                <section class="unidade-preview">
                    <section class="text-preview">
                        <p>Entendemos a importância de ter acesso a ajuda profisiional, por isso oferecemos consultas com psicólogos dedicados ao seu bem-estar. Agende facilmente uma sessão e receba apoio profissional para enfrentar seus desafios emocionais.
                            Não espere mais para cuidar da sua saúde!</p>
                    </section>
                    <section class="imagem-exemplo">
                        <img src="imagens/psicologos-preview.png" class="imgs" alt="">
                    </section>
                </section>


                <section class="unidade-preview">
                    <section class="text-preview">
                        <p>A comunidade é um espaço onde você pode compartilhar suas experiências, aprender com outras pessoas que enfrentam desafios similares br e encontrar apoio. Faça parte, poste suas reflexões e encontre respostas, e ajude outros a encontrarem também. É transformador estar conectado com outras pessoas!</p>
                    </section>
                    <section class="imagem-exemplo">
                        <img src="imagens/comunidades-preview.png" class="imgs" alt="">
                    </section>
                </section>

                <section class="unidade-preview">
                    <section class="text-preview">
                        <p>Nossos Chats com psicólogos estão disponíveis para oferecer o suporte que você precisa. Ao conversar com nosso especialistas, você pode compartilhar suas preocupações e receber orientação profissional. Converse com nossos especialistas e dê o primeiro passo para uma vida mais equilibrada e saudavel</p>
                    </section>
                    <section class="imagem-exemplo">
                        <img src="imagens/chats-preview.png" class="imgs" alt="">
                    </section>
                </section>
                <section class="unidade-preview">
                    <section class="text-preview">
                        <p>Nosso calendário é uma ferramenta para registrar como você se sente diariamente e acompanhar suas terapias agendadas. É como ter um diário digital que ajuda você a cuidar da sua saúde dia após dia.
                            Experimente como nosso calendário pode ser uma ferramenta valiosa para seu bem-estar!</p>
                    </section>
                    <section class="imagem-exemplo">
                        <img src="imagens/calendario-preview.png" class="imgs" alt="">
                    </section>
                </section>
            </section>
            </section>
        </article>
    </main>
</body>
</html>