
    <title>Suporte</title>
    <link rel="stylesheet" href="css/redirecionamento-suporte.css">
</head>
<body>
    <%- include("../partial/headerunlogged") %>
    <main class="main-redire">
        <article class="titulo-box">
            <h1 class="titulo">Precisa de ajuda? Conte com a gente!</h1>
            <hr>
        </article>
        <article class="lista-sumario">
            <ol class="sumario">
                <li>Conta</li>
                <li>Recursos e Experiências</li>
                <li>Regras</li>
                <li>Privacidade e Segurança</li>
                <li>Primeiros Passos</li>
                <li>Denúncias</li>
            </ol>
        </article>

        <h2 class="subtitulo">Conta</h2>

        <article class="bloco-duvidas">
            <h3>Como criar uma conta?</h3>
            <ul class="info-duvidas">
                <li>Clique na parte superior direita do menu na pagina inicial no icone  "cadastrar"</li>
                <li>Selecione a opção "cliente"</li>
                <li>Coloque as informações solicitadas</li>
                <li>Após isso, clique em ""continuar"" e sua conta estará criada</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Como alterar o endereço de email da sua conta</h3>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "editar perfil"</li>
                <li>Vá no campo ""email"" e altere para o desejado</li>
                <li>Depois de escrever o email desejado clique em "atualizar dados"</li>
                <p class="p-aviso"><strong>
                    OBS: Não será possivél alterar dados como ""CPF"" e  ""RG"", caso aconteça
                     alguma cituação em que foi necessária a mudança de tais, entre em contato conosco em ""fale conosco"" e nos mande diretamente
                </strong></p>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Esqueci minha senha! Aonde posso definir uma nova?</h3>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "editar perfil" </li>
                <li>Vá no campo "senha" e altere para a desejada</li>
                <li>Depois de escrever a senha desejada clique em "atualizar dados"</li>
            </ul>
        </article>

        <article class="bloco-duvidas">
            <h3>Como faço para sair?</h3>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "sair da conta" </li>
                <li>Confirme se realmente deseja sair da conta em "sair da conta"</li>
            </ul>
        </article>

        <h2 class="subtitulo">Conta</h2>

        <article class="bloco-duvidas">
            <h4>Como faço para sair?</h4>
            <ul class="info-duvidas">
                <li>Após estar logado, clique no icone de perfil (pessoa)</li>
                <li>Você será redirecionado para a aba com tudo relacionado ao seu perfil (editar perfil, consultas, humor, salvos, ajuda e sair da conta)</li>
                <li>Clique em "sair da conta" </li>
                <li>Confirme se realmente deseja sair da conta em "sair da conta"</li>
            </ul>
        </article>

    </main>
</body>
</html>