
    <title>Rodapé</title>
    <link rel="stylesheet" href="css/rodape.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
    <footer>
        <section class="logo-rodape">
            <img src="imagens/logo-laranja.png" alt="">
        </section>
        <section class="rodape-infos">
            <h1>Inicio</h1>
            <h2>Psicólogos</h2>
            <h2>Chat</h2>
            <h2>Calendário</h2>
            <h2>Comunidade</h2>
        </section>

        <section class="rodape-infos" id="sobre-nos">
            <h1>Sobre Nós</h1>
            <h2>Informações da plataforma</h2>
            <h2>Equipe</h2>
            <h2>SharePoint</h2>
        </section>


        <section class="rodape-infos"id="suporte">
            <h1>Suporte</h1>
            <h2>FAQ</h2>
            <h2>Telefones</h2>
            <h2>Contato</h2>
            <h2>Redes</h2>
        </section>


        <section class="rodape-contatos">
            <section class="item-icon">
                <i class="fa-regular fa-envelope"></i>
                <h2 class="contatos">contato@dimittens.com.br</h2>
            </section>
            <section class="item-icon">
                <i class="fa-solid fa-phone"></i>
                <h2 class="contatos">(11) 96077-5570</h2>
            </section>
            <section class="icons-contatos">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-solid fa-x"></i>
            </section>
            <h2 class="direitos-rodape">©2024Dimittens. <br>
                Todos os direitos reservados</h2>
        </section>
    </footer>
</body>
