
    <title>Sobre nós</title>
    <link rel="stylesheet" href="css/sobrenos.css">
</head>
<body>
    <%- include("../partial/headerunlogged") %>
    <main class="box">
        <h1>Tudo sobre a Dimittens</h1>
        <article class="linha">
               <hr>
        </article>
        <h2>Nossa História</h2>
        <p>A Dimittens foi pensada e desenvolvida por estudantes do ensino médio com o intuito de ajudar pessoas que sofrem com transtornos psicológicos, criando um ambiente em que eles possam se consultar com os profissionais do site e trocarem experiências com outras pessoas relacionadas aos seus problemas. 
 
            A ideia inicial foi ser um site de terapias online e apenas isso, algo semelhante a você entrar no site e agendar uma consulta por mensagem com um profissional especializado, porém com a ideia de fazermos um projeto que possua uma rede de apoio entre clientes para clientes, decidimos desenvolver novas ideias, como os tipos de terapia e a comunidade dentro do site.  </p>
        <h2>O que é Dimittens</h2>
        <p>A Dimittens é uma plataforma de suporte à saúde mental, que surge como uma resposta dinâmica às necessidades escassas de ajuda nesse âmbito, visa oferecer um ambiente acessível, 
            acolhedor e personalizado para cada indivíduo que busca apoio emocional, desde serviços de chat, e consultas com profissionais de saúde mental até uma comunidade de apoio interativa, além do cuidado para criar uma experiência única, e eficaz no impacto à saúde mental, contribuindo para a inovação no cenário de serviços online.
            
            Realizamos pesquisas que comprovam essa escassez de serviços e de plataformas relacionadas a saúde mental, gerando assim a necessidade dos meios que nós disponibilizamos 
            para essas pessoas. Além dessas pesquisas, fizemos o levantamento do nosso público-alvo para desenvolvermos estratégias de fidelização e posicionamento no mercado, utilizando então meios que facilitem o mecanismo de busca para encontrarem nossa plataforma, buscamos também a atividade em redes sociais para criar um contato direto do público-alvo para conosco, junto de benefícios que o usuário obtém em nossos planos premium, portanto a Dimittens 
            realiza um apoio para os usuários e se encaixam em suas necessidades.
            
            Em suma, o projeto atende e ultrapassa as expectativas e necessidades dos usuários 
            com soluções inovadoras, proporcionando um ambiente que capacita a melhora dos 
            problemas enfrentados dos usuários.</p>
        <h2>Motivação e Pesquisas</h2>
        <p>De acordo com pesquisas realizadas, a crescente complexidade do mundo moderno não apenas testa nossos limites, mas também expõe uma realidade preocupante. A pandemia da COVID-19, lançou uma luz ainda mais intensa sobre a fragilidade do bem-estar. Isolamento, incertezas e perdas tornaram-se elementos do cotidiano, tendo como consequência desafios ainda maiores. Nesse contexto, a busca por ajuda, muitas vezes, revelase uma jornada árdua, devido à escassez de serviços acessíveis e pela relutância por parte de muitos em reconhecer e enfrentar suas dificuldades. As pessoas que sofrem silenciosamente com questões psicológicas, enfrentam uma série de obstáculos, desde a estigmatização social até a falta de recursos adequados. Muitas hesitam em procurar ajuda, seja por desconhecimento ou receio, em contrapartida temos a trajetória daqueles que decidem buscar ajuda e na maioria das vezes se deparam com barreiras estruturais e burocráticas que, por vezes, podem tornar a jornada ainda mais difícil, e até mesmo causar a desistência desta minoria. Os tipos de terapias na plataforma oferecem diversidade de tratamentos para o que cada individuo necessitar, possibilitando uma chance maior de interesse em se tratar corretamente.

            A necessidade de dar atenção à saúde mental das pessoas de todo o mundo, tem sido uma das preocupações da OMS (Organização Mundial da Saúde) que estabeleceu um Plano de ação integral em 2013 até 2030, que cria metas globais para transformar a saúde. Porém, essa mudança está acontecendo de forma lenta, devido a negligência que resulta no aumento de pessoas com transtornos psicológicos, que ocasionou o aumento de 25% da ansiedade e depressão sofrida pelas pessoas depois da pandemia, sendo duas das cinco doenças que mais afetam a população mundial, como a depressão, tendo 300 milhões de pessoas afetadas no mundo todo. 
            
            Um levantamento aponta que quase 1 bilhão de pessoas no mundo todo sofrem de algum tipo de transtorno psicológico, reforçando a importância de projetos como a Dimittens. Ademais, temos a falta de acesso e interesse das pessoas à tratamento de transtornos mentais, já que apenas 5% das pessoas no Brasil realizam psicoterapia segundo a pesquisa do Instituto Cactus intitulada de Panorama da Saúde Mental, devido a isso, terapias online tem crescido durante e após a pandemia, onde a população tem mostrado interesse em se consultar de forma remota, já que para muitos pacientes é difícil se abrir com os psicólogos 
            presencialmente. 
            Isso apresenta a importância do Calendário Emocional e as Notas que nós oferecemos em nossa plataforma, visando auxiliar o profissional a entender os seus pacientes, fazendo também com que o paciente desenvolva em sua vida, um hábito que melhora a saúde física e mental, o Calendário facilita a expressão das emoções do paciente, que agora pode se expressar com mais clareza.
            
            Nos chats, a ênfase está em criar mais do que meros meios de comunicação, mas sim 
            uma conexão imediata a fim de quebrar essa barreira entre quem precisa de ajuda e quem está 
            disposto a ajudar.
            
            As comunidades foram construídas para compartilhar experiências e tirar dúvidas 
            com pessoas que já passaram por situações semelhantes, foram integrados para promover a 
            interação entre os membros, criando uma cultura de apoio e resiliência emocional.
            
            As consultas foram destinadas para ir além da orientação convencional., a plataforma foi desenvolvida com flexibilidade para se adaptar às necessidades individuais, transformando cada consulta em uma oportunidade para oferecer cuidado personalizado e soluções práticas, em um artigo da Revista Educação em Questão, é apontado o problema da falta de estrutura na formação de uma família, a ausência de papéis definidos na família desenfreia problemas em toda ela, logo, nossa terapia familiar foi pensada justamente para essas famílias que necessitam de ajuda para enfrentar tais situações; assim como as terapias em grupo, ou popularmente conhecidas como ‘Rodas de conversa”, podem ser uma nova abordagem para usuários que busquem ou necessitem um apoio mais sociável, elas proporcionam a integração entre os participantes e a partilha de sentimentos, opiniões e discussões. As terapias infantis também são de suma importância dentro das consultas com profissionais especializados, já que crianças tem enfrentado problemas psicológicos desde a infância até o início e término da puberdade.</p>
        <h2>Estratégias de Marketing</h2>
        <p>Metodo SEO: (Search Engine Optimization) é o conjunto de estratégias de 
            otimização para o mecanismo de busca. O objetivo é alcançar bom posicionamento orgânico 
            de páginas web no Google e em outros buscadores, com conteúdo de qualidade e que 
            entreguem uma boa experiência para os usuários.
      
      Redes Sociais: As redes sociais serão a parte principal do marketing orgânico, onde 
            iremos divulgar nossa plataforma e ter um contato direto com o público-alvo criando um 
            relacionamento próximo entre eles, tem extrema importância para engajar a marca e trazer 
            novos usuários para ir em busca da fidelização.
      
      Palavras-chaves: São palavras curtas e representativas que utilizaremos para 
            facilitar a busca por conteúdo, como por exemplo, terapia online, que teve um aumento 
            significativo de buscas durante e após a pandemia.</p>
        <h2>Monetização</h2>
        <p>Afiliados: Promovem produtos ou serviços dentro do nosso site e paga valores por cliques, compras ou ações.

            Planos: Os planos do site fazem com que o usuário tenha a experiência de criar o conteúdo na plataforma, promovendo sua comunidade dentro do site e outros benefícios são o uso da plataforma sem anúncios, comentários com destaque, cupons de desconto e o perfil verificado com o selo exclusivo na plataforma.
            
            Porcentagem por Consulta: A plataforma também irá tirar uma porcentagem por cada consulta com os profissionais dentro do site, essa porcentagem irá consistir em 20% do valor da consulta. Exemplo, se a Consulta com o psicólogo for 100 Reais, iremos ficar com 20% desse valor, ficando a plataforma com 20 Reais e o Psicólogo com os 80 Reais Restantes.</p>
        <h2>Público Alvo</h2>
        <p>Queremos atingir o maior número de pessoas possíveis, mas principalmente Jovens e idosos.


            A faixa etária com maior incidência é de 15 a 29 anos, o suicídio é a segunda causa mais frequente de morte entre a população jovem em nível mundialOs TMC (Transtornos Mentais e Comportamentais) foram responsáveis por mais de uma em cada 100 mortes e 58% das mortes ocorreram antes dos 50 anos de idade.idosos lideram o ranking dos quadros depressivos entre os brasileiros, segundo a Pesquisa Nacional de Saúde, de 2019.Alta taxa de suicídio entre idosos com mais de 70 anos. Nessa faixa etária, foi registrada a taxa média de 8,9 mortes a cada 100 mil idosos, para fins comparativos, a taxa média nacional é de 5,5 por 100 mil.</p>
        <h2>Requisitos</h2>
        <p>Requisitos Funcionais 
 
            Validação do Usuário 
      
     O sistema deve permitir que usuários criem contas na plataforma. Os usuários devem ter a opção de recuperar a senha de suas contas. Os usuários devem poder fazer login e logout dentro da plataforma. Os usuários devem ter as opções de fazer o cadastro ou o login com o Google ou o Facebook. Os usuários devem ter a capacidade de preencher seus perfis com o seu nome e sobrenome completo, nome de usuário, endereço de e-mail e descrição do seu perfil. 
      
            Validação do Profissional 
     
     O sistema deve permitir que os profissionais criem contas na plataforma. Os profissionais devem ter a opção de poder fazer login e logout na plataforma. Os usuários devem ter a opção de recuperar a senha de suas contas. O sistema deve fazer a verificação e validar a CRP do Profissional antes de permitir o uso das consultas para pacientes. Os profissionais devem ter a obrigatoriedade de preencher suas informações pessoais com o CPF do próprio, registrar sua CRP (Conselho Regional de Psicologia), nome e sobrenome completos, endereço de e-mail, número de telefone e endereço de CEP. Os profissionais devem ter a capacidade de preencher seus perfis com a sua biografia. 
      
            Acesso limitado do usuário não-logado 
     
     Os usuários que não possuem login, devem ter acesso a apenas visualizar o conteúdo das páginas como Comunidades, Terapias e Sobre nós, sem ter acesso a comentar nas postagens e ter acesso ao calendário emocional e as anotações diárias e agendar consultas na aba de Terapias, assim como não terão acesso as configurações da plataforma. 
      
            Comunicação e Postagens 
     
     Os usuários devem ter acesso a todo conteúdo das postagens e devem poder encaminhar as postagens ao seu profissional contratado. Os usuários devem poder salvar as postagens na área de itens salvos. Os usuários devem poder se comunicar apenas dentro dos comentários das postagens. Os usuários devem ter a possibilidade de avaliar um comentário verificado da postagem. Os usuários devem ter a opção de denunciar um comentário indesejado e uma publicação para os administradores verificarem. Os usuários devem poder seguir uma comunidade específica. 
      
      
            Agendamento de Consultas 
     
     Os usuários devem poder escolher com qual profissional ele quer agendar sua consulta. Os usuários devem poder escolher qual dia, horário e mês da consulta no agendamento definido pelo profissional. Os usuários devem poder escolher qual tipo de terapia ele deseja, individual, em grupo, em casal ou em família. O sistema deve permitir que o usuário escolha a sua forma de pagamento. Os usuários devem selecionar o tipo de comunicação na terapia, chamada de vídeo ou chat online. 
     
            Agenda do Profissional
      
     Os profissionais devem definir na sua agenda quais dias e horários estão disponíveis para consultas categorizando por tipo de terapia mensalmente. Os profissionais devem ter no mínimo 7 dias de disponibilidade para consultas mensalmente. Os profissionais devem definir os valores em dinheiro de cada consulta da sua agenda. Os profissionais devem confirmar o agendamento da consulta.  Os usuários devem ter a opção de encontrar algum conteúdo específico dentro das tags das publicações na Comunidade do site. 
      
            Menu do Usuário 
     
     Os usuários devem poder editar e atualizar suas informações de perfil. Os usuários devem poder visualizar os seus comentários antigos e seus itens salvos. Os usuários devem poder privar a visualização dos seus comentários e itens salvos em postagens da plataforma. Os usuários devem poder visualizar as últimas publicações das Comunidades que ele pertence. Os usuários devem poder ajustar suas preferências de notificações, como o envio de e-mails. Os usuários devem poder selecionar suas preferências de conteúdo com base nas tags das publicações. os usuários devem ter uma aba de notificações que seja acessível dentro do menu do usuário, que consigam visualizar as próprias atividades relacionadas as interações na plataforma. As notificações devem abranger: Respostas nos comentários do próprio, curtidas em suas publicações, aviso de consulta prévia, mensagens dos profissionais da plataforma. Os usuários devem poder ajustar o horário dos lembretes prévios das consultas. 
     
           Menu do Profissional 
     
     Os profissionais devem poder editar e atualizar específicas informações de Perfil. Os profissionais devem poder visualizar as suas antigas consultas e pacientes anteriores. Os profissionais devem poder ver as últimas publicações das Comunidades que ele pertence. Os profissionais devem poder ajustar os horários dos lembretes de suas consultas. Os profissionais devem ter acesso a definir com qual especialização ele melhor trabalha. Os profissionais devem ter uma aba de notificações e avisos das próximas consultas agendadas, mensagens dos pacientes e interações na página das comunidades. 
      
            Criação de Conteúdo 
     
     Apenas os usuários pertencentes ao Plano do Criador, terão a opção de criar suas próprias postagens e publicá-las. Os criadores devem especificar qual conteúdo se refere usando as tags de postagem. Os criadores devem selecionar qual tipo de postagem irá ser publicada, tais como as enquetes, comentários e imagens com conteúdo relacionado. Os criadores devem adicionar o título (referente a pergunta), e como opção uma descrição dessa postagem. Os criadores devem escolher se a publicação é pública ou privada aos membros da comunidade. Os criadores devem definir se terá algum limite de comentários na publicação. 
      
           Busca e Filtros 
     
     O sistema deve permitir a busca de conteúdo na aba Comunidades por popularidade, data de publicação, categoria das tags e mais recentes. O sistema deve permitir a busca de profissionais da área na aba de Terapias, pelo nome do profissional, avaliações, tipo de profissional e sua especialização em um assunto específico abordado. 
      
            Avaliação e Feedback
      
     Os usuários devem ter a opção de dar um feedback ao criador de conteúdo a respeito de suas publicações. O sistema deve permitir os usuários avaliarem de 1 a 5 estrelas. Os usuários devem poder avaliar os profissionais da área no perfil deles. Os usuários devem poder avaliar a consulta específica após a finalização dela. 
      
            Painel Administrativo
      
     Os administradores devem ter acesso a uma área onde possam verificar as denúncias feitas pelos usuários ou profissionais sobre conteúdo inadequado, spam ou violação dos termos de uso. As denúncias devem conter informações sobre o autor da denúncia, o motivo, relato da denúncia e a categoria. Os usuários devem ter a capacidade de adicionar conteúdo na plataforma, para comunicar assuntos importantes, criar anúncios ou destacar conteúdo. Os administradores também devem poder excluir postagens que violem as diretrizes da comunidade ou que sejam consideradas inadequadas ou irrelevantes. Os administradores devem ter ferramentas para gerenciar usuários e contas na plataforma. Isso inclui a capacidade de visualizar perfis de usuários, suspender contas temporariamente ou banir permanentemente usuários que violem repetidamente os termos de uso da plataforma. Os Administradores devem ter a capacidade de alterar as informações relacionadas aos planos de acesso premium dentro do site, como ajustar os planos de assinatura semanal, mensal e anual, os preços, benefícios e relações com as assinaturas. Os administradores devem poder suspender, criar e definir o desconto dos cupons de desconto dentro do site.
      
     
     Requisitos Não Funcionais 
      
            Desempenho 
     
     O site da Dimittens deve ser rápido, tendo tempo de carregamento de tempos mínimos em todos os conteúdos das páginas. Os servidores devem ser capazes de suportar o tráfego em dias e horários de pico. 
      
            Navegação e Interface do Usuário 
     
     O site deve ter uma interface intuitiva e acessível para todas as faixas etárias e públicos. Os usuários devem poder navegar por todas as páginas da plataforma. A interface do site deve garantir que todo o conteúdo do site esteja de livre acesso em no máximo 3 cliques de distância. A interface do site deve ter simbologias e títulos autoexplicativos de fácil entendimento dos usuários. 
      
            Proteção dos dados 
     
     As informações dos usuários com maior sensibilidade como detalhes de pagamento e senhas devem ser protegidas por forte criptografia e protocolos de segurança rígidos. 
      
            Escalabilidade 
     
     A infraestrutura do sistema deve ser altamente escalável para manter aumentos nos números de usuários futuramente. O crescimento orgânico da plataforma deve ser suportado pelo sistema de Software e Hardware atuais. 
      
            Acessibilidade e Responsividade 
     
     O site deve possuir acessibilidade para usuários com deficiências visuais, auditivas e motoras, de acordo com a WCAG. O site deve ser responsivo para acessar em diferentes tamanhos de tela como, desktop, laptops e smartphones. </p>
     <h2>Regras de Negócio</h2>
     <p>       Validação do Usuário 
        Os usuários devem ser notificados em caso de perda de acesso a conta, ou em caso de exclusão de conta. 
         
               Acesso limitado do usuário não-logado 
        Os usuários não logados não terão acesso a interagir na Comunidade do site e não poderá agendar consultas com profissionais, assim como se comunicar. 
         
              Tags 
        Os usuários devem poder sugerir novas tags para os administradores do site. 
        
              Notificações 
        O sistema deve atualizar constantemente as notificações. 
         
               Acesso Premium: Plano do Criador 
        Os usuários podem escolher entre os planos semanais, mensais e anuais. Criação de Conteúdo: Os assinantes terão acesso a criar conteúdo dentro da aba de Comunidades. Criação de Comunidade: Os assinantes terão acesso a criar sua própria comunidade para postar seus conteúdos. Livre de Anúncios: Os assinantes terão o prazer de desfrutar da plataforma sem anúncios. Perfil Verificado: Os assinantes terão o benefício de adicionar comentários que aparecerão no topo das publicações. Selo: Os assinantes terão em seus perfis um selo especial para aumentar a credibilidade nas interações da comunidade. Cupom de Desconto: Os assinantes receberão em seus e-mails cupons de desconto exclusivos aos membros do plano. </p>
        <article>
              <h2>Nossas Métricas</h2>
              <section class="metricas">
                     <section class="metricas-box">
                            <h3>150 Milhões de</h3>
                            <h3>usuários ativos por mês</h3>
                     </section>
                     <section class="metricas-box">
                            <h3>1o Milhões de</h3>
                            <h3>comunidades ativas por semana</h3>
                     </section>
                     <section class="metricas-box">
                            <h3>150 Milhões de</h3>
                            <h3>consultas diarias na plataforma</h3>
                     </section>
              </section>
        </article>
        <h2 class="como-funciona">Como a Dimittens funciona?</h2>
        <article class="box-funciona">
              <section class="caixa">
                     <section class="icone-titulo">
                            <i></i>
                            <h3>Consultas</h3>
                     </section>
                     <p>A Dimittens oferece consultas online com psicólogos qualificados, permitindo que você receba atendimento especializado de forma prática e segura. </p>
              </section>
              <section class="caixa">
                     <section class="icone-titulo">
                            <i></i>
                            <h3>Chat</h3>
                     </section>
                     <p>Nosso chat é uma ferramenta que permite conversar em tempo real com profissionais da plataforma, onde você pode tirar dúvidas, e receber apoio imediato, tudo dentro de um ambiente seguro e acolhedor.</p>
              </section>
              <section class="caixa">
                     <section class="icone-titulo">
                            <i></i>
                            <h3>Comunidade</h3>
                            <p>Espaço onde os usuários podem compartilhar suas experiências, trocar conselhos, e encontrar apoio emocional.
                                   Conecte-se com pessoas que estão passando por desafios semelhantes, participando de discussões e postando suas reflexões.</p>
                     </section>
              </section>
              <section class="caixa">
                     <section class="icone-titulo">
                            <i></i>
                            <h3>Calendário</h3>
                            <p>Ferramenta prática para agendar suas consultas e registrar como se sente diariamente. Ele ajuda a organizar sua rotina, e garante que você não perca nenhum compromisso importante com sua saúde mental.</p>
                     </section>
              </section>
        </article>

        <article class="sharepoint">
              <h2>Share Point</h2>
              <p>Explore nosso SharePoint e acompanhe a evolução da Dimittens ao longo dos últimos três anos. Nele, você encontrará informações detalhadas sobre nossos marcos, inovações e crescimento. É uma excelente oportunidade para entender melhor nossa trajetória e o impacto que temos gerado. Visite e fique por dentro de tudo o que alcançamos!</p>
              <section class="logo-box">
                     <img src="" alt="">
                     <h3>Dimittens</h3>
              </section>
        </article>
    </main>
    <%- include("../partial/rodape") %>
</body>
</html>