
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/transtornos.css">
</head>
<body>
    <%- include("../partial/headerunlogged") %>
    <main>
        <h1 class="titulo">Como Funciona a Terapia</h1>
        <article class="box-cmfterapia">
            <section class="box-circulo-quadrado">
                <section class="circulo">01</section>
                <section class="quadrado">
                    <p>O psicólogo te ajuda a identificar padrões e comportamentos que alimentam a ansiedade.</p>
                </section>
            </section>

            <section class="box-circulo-quadrado">
                <section class="circulo">02</section>
                <section class="quadrado">
                    <p>Juntos, vocês trabalharão para a criação de alternativas mais saudáveis e realistas.</p>
                </section>
            </section>

            <section class="box-circulo-quadrado">
                <section class="circulo">03</section>
                <section class="quadrado">
                    <p>Você aprenderá técnicas pra lidar com os desafios e saberá como controlar a ansiedade.</p>
                </section>
            </section>
        </article>
    </main>
</body>
</html>